::placeholder {
  color: #2d2d2d;
}

.form {
  position: absolute;
  top: 15%;
  width: 563px;
  height: 620px;
  z-index: 2;
}

.inputName,
.inputEmail,
.inputMessage {
  padding-left: 46px;
  width: 557px;

  font-family: Apercu Arabic Pro;
  font-weight: normal;
  font-size: 18px;
  color: #2d2d2d;

  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  border-radius: 10px;
}

.inputName,
.inputEmail {
  height: 93px;
  margin-bottom: 8px;
}

.inputMessage {
  height: 189px;
}

.title {
  margin-right: auto;
  margin-left: auto;
  height: 58px;
  left: 147px;
  top: 179px;

  font-family: Apercu Arabic Pro;
  font-weight: normal;
  font-size: 40px;
  line-height: 130%;
}
.button {
  margin-top: 23px;
  width: 218px;
  height: 73px;
  left: 150px;
  top: 681px;
  border: none;
  cursor: pointer;
  background: #fad34f;
  border-radius: 500px;

  font-family: Apercu Arabic Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .inputName,
  .inputEmail,
  .inputMessage {
    transition: 500ms;
    width: 100%;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  .title {
    transition: 500ms;
    /* width: 363px; */
    height: 58px;
    font-size: 30px;
    line-height: 90%;
  }
  .form {
    transition: 500ms;
    top: 3%;
    max-width: 300px;
  }
  .inputName,
  .inputEmail {
    transition: 500ms;
    height: 43px;
  }
  .inputMessage {
    padding-bottom: 70px;
    height: 159px;
  }
  .button {
    margin-left: 15%;
    width: 190px;
    height: 43px;
  }
}
@media screen and (min-width: 768px) {
  .form {
    transition: 500ms;
    left: 17%;
  }
  .inputName,
  .inputEmail {
    transition: 500ms;
    height: 63px;
  }
  .inputMessage {
    padding-bottom: 70px;
    height: 159px;
  }
  .button {
    width: 190px;
    height: 53px;
  }
}
@media screen and (min-width: 1280px) {
  .form {
    transition: 500ms;
    left: 15%;
  }
  .inputName,
  .inputEmail {
    transition: 500ms;
    height: 93px;
  }
  .inputMessage {
    height: 189px;
  }
  .button {
    width: 218px;
    height: 73px;
  }
}
