body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: flex-end;
}
.title {
  margin-right: auto;
  margin-left: auto;
  width: 563px;
  height: 58px;
  left: 147px;
  top: 179px;

  font-family: Apercu Arabic Pro;
  font-weight: normal;
  font-size: 40px;
  line-height: 130%;
}
.earthContainer {
  z-index: -1;
}

/* .earth {
} */
